@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');
@import 'node_modules/@sysvale/cuida/dist/@sysvale/tokens.scss';

body {
    background-color: $n-10;
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}